* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

p,
li {
    font-size: 16px;
    line-height: 1.5;
}

code,
pre {
    color: #ccc;
    background: none;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    font-size: 0.95em;
}

pre {
    padding: 1em;
    margin: 16px 0;
    overflow: auto;
}

code,
pre {
    background: #2d2d2d;
}

:not(pre) > code {
    border-radius: 2px;
    white-space: normal;
    font-size: 0.85em;
    background: transparent;
    padding: 0;
    color: #e94949;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999;
}

.token.punctuation {
    color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
    color: #e2777a;
}

.token.function-name {
    color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
    color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
    color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
    color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
    color: #67cdcc;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: green;
}

h1,
h2,
h3,
h4 {
    margin: 24px 0 0.4em 0;
}

#app {
    min-height: 100vh;
}

.demo .line-numbers .line-numbers-rows {
    padding-top: 1em;
}

ol,
ul {
    padding-left: 40px;
}

li + li {
    margin-top: 12px;
}

.docs h1,
.docs h2,
.docs h3,
.docs h4 {
    color: #e94949;
}
